# This file is an example of how to configure for running Remus-based programs
# on CloudLab.  By default, the ./local folder is not version controlled.  You
# may want to copy this file to ./local/cloudlab_common.sh, and then edit it

# The common domain for all of the CloudLab machines used by this experiment.
#
# EXAMPLE: domain=apt.emulab.net
domain=[INPUT]

# The machine names that were allocated by cloudlab.  You do not need to include
# the domain.
#
# WARNING:  Order matters for the machines, because there is an implicit
#           conversion to names like node0, node1, etc.  Be sure to follow the
#           order in the CloudLab "List View" for your experiment.
#
# EXAMPLE: machines=(apt003 apt007 apt005)
machines=[INPUT]

# The user who is going to be using ssh/scp to connect to cloudlab.  It is
# expected that ssh keys are already set up.
user=[INPUT]